
.container {

  background: #F1F4F6;
}
#photo-header{
  margin-top: 0px;
  background: #F1F4F6;
}
#photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;/* what to fo if content element exceeds the size of the element box */
  padding: 5px;
  background: #F1F4F6;
  display: inline-block;
  margin-top: 6px;
  /* set photo to first plan*/
  position: relative; /* mandatory if you would use z-index*/
  z-index: 1;
}
#photo img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.title-header {
	background: #E6ECF0;
  margin-top:-83px;
  margin-right: 0px;
  margin-left: 0px;
	
}
.no-right-padding{
	padding-right: 0px;
}
.no-left-padding {
	padding-left: 0px;
}
.experience {

	background: #E6ECF0;
}
.aboutme {
	background: #E6ECF0;
  padding-top: 20px;
  padding-bottom: 10px;
}
.formation {
	background: #E6ECF0;
}
.job {
	background: #E6ECF0;
  padding-top: 5px;
  padding-bottom: 10px;
}
.icon {
  line-height:2em;
}
.icon > span {
  padding: 1em;
}