@media print {
body {-webkit-print-color-adjust: exact;}
}
.container {
  background: #c9c9c9;
  height: 1060px;
}
#photo-header{
  margin-top: 0px;
  background: #c9c9c9;
}
#photo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;/* what to do if content element exceeds the size of the element box */
  padding: 5px;
  background: #c9c9c9;
  display: inline-block;
  margin-top: 6px;
  /* set photo to first plan*/
  position: relative; /* mandatory if you would use z-index*/
  z-index: 1;
}
#photo img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.title-header {
	background: #e3e3e3;
  margin:-110px -10px 0 -10px;
  padding: 5px 0 0 0;
}
.title-job {
  padding: 11px 0 11px 0;
  margin: 0;
}
.links {
  font-size: 12px;
  padding: 0 0 0 0.5em;
  line-height: 2em;
}
.home {
  line-height: 1em;
}
.no-right-padding{
	padding-right: 0px;
}
.no-left-padding {
	padding-left: 0px;
}
.no-margin {
  margin: 0 0 0 0;
}
.resume-content {
  background-color: #c9c9c9;
  padding-bottom: 20px;
}
.aboutme ,.education{
  background:#e3e3e3;
  padding: 0.2em 1em 0 1em;
  font-size:12px;
}
.education {
  border-top: solid 5px #c9c9c9;
}
.skill {
  border-top: solid 5px #c9c9c9;
  padding: 5px 0 5px 0; 
  background-color: #e3e3e3;
}
.skill-domain {
  padding-top: 10px;
  
}
.skill-tools {
  /*border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #c9c9c9;*/

  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #c9c9c9;

}
.tools-item {
  padding : 2px 0 2px 0;
  font-size: 10px;
}

.experience {
	background:#e3e3e3;
  padding: 1em 1em 0 1em;
  font-size:12px;
}
.formation span, .experience span, .aboutme span ,.skill span {
  padding: 0 0 0 0.5em;
}
.job-description {
  font-size: 12px;
  padding: 0 0 10px 0;
}
.job {
	background: #e3e3e3;
  padding-top: 100px;
  padding-bottom: 10px;
}
.column {
  border-left: 5px solid #c9c9c9;
  border-right: 5px solid #c9c9c9;
}
.power {
  background-color: #c9c9c9;
  padding-bottom: 25px;
}
/****************************************/
/*********** TIME LINE ******************/
/****************************************/
.diplome {
  
  border-left: 4px solid #5BC0DE;
  display: inline-block;
  margin-left: 10%;

}
.diplome > div {
  display: inline-block;
}
.date{
  margin-left: -3em;
  color:#5BC0DE;
}
.circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #5BC0DE;
  margin-left: -2px;
}
.name {

  background-color:  #5BC0DE ;
  text-align: center;
  width: 80%;
}
.spec {

  margin-left: 5%;
  width: 80%;
}
.address {

  margin-left: 5%;
  width: 50%;
}
.school-icon {
  margin-left: -30px;
}
.text-emphase {
  color: #5BC0DE;
  font-weight: bold;
  font-size: 12px;
  padding-left: 0 !important;
}
/****************************************/
/*********** TIME LINE ******************/
/****************************************/
.exp-line {
  background-color: #5BC0DE;
  border-radius: 10%;
  padding-top: 5px;
  margin-top: 10px;
}
.hide {
  display: none;
}
.hobbies {
  background-color: #e3e3e3;
  border-top: solid 5px #c9c9c9;
}
.hobby {
  background-color: #5BC0DE;
  margin : 0 5px 5px 5px;
  padding : 0 5px 2px 5px;
}
.hobby > i {
  color:#e3e3e3;
}

.exp-header {
  padding: 0 0 5px 0;
}
